# Model Wine Quality GitHub Actions Workflow
name: model_wine_quality

# Define when the workflow is triggered
on:
  push:  # Runs the workflow on every push
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight

# Define the jobs in the workflow
jobs:
  run:
    runs-on: ubuntu-latest  # Use the latest Ubuntu version for the runner

    steps:
      - uses: actions/checkout@v3  # Checkout the repository
      - uses: actions/setup-python@v4  # Setup Python environment

      # Cache pip packages to speed up future builds
      - name: Cache pip packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - uses: iterative/setup-cml@v1  # Setup CML (Continuous Machine Learning) environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install pandas scikit-learn seaborn matplotlib

      # Train the model
      - name: Train model
        run: |
          python train.py

      # Generate a report with the training results and images
      - name: Create report
        run: |
          echo "## Training Results" > report.md
          cat metrics.txt >> report.md

          echo "## Feature Importance" >> report.md
          cml-publish feature_importance.png --md >> report.md

          echo "## Residuals" >> report.md
          cml-publish residuals.png --md >> report.md

          cml-send-comment report.md
